*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width:100%;
}

#main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 101, 173);
    
}

.shape{
    height: 200px;
    width: 200px;
    
    border:2px solid black;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#square:hover{
    background-color: rgb(255, 189, 23);
}

#circle{
   
    border-radius: 50%;
}

#circle:hover{
    background-color: aqua;
}

#diamond{
   
    rotate: 45deg;
    margin-top: 50px;
}

#diamond:hover{
    background-color:rgb(19, 250, 19);
}

#diamond h1{
    rotate: -45deg;
}

